<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958096341458-ctqvfa8p8j25hmu65abjvkgkm8iqdk9l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958096341458-ctqvfa8p8j25hmu65abjvkgkm8iqdk9l</string>
	<key>API_KEY</key>
	<string>AIzaSyDtX5Uu8dmOH4uMQ2X7DO2MA61g8QFJS3E</string>
	<key>GCM_SENDER_ID</key>
	<string>958096341458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>giovanniraininger.Jobify</string>
	<key>PROJECT_ID</key>
	<string>jobify-ec052</string>
	<key>STORAGE_BUCKET</key>
	<string>jobify-ec052.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958096341458:ios:5a92f45171a6cc045cb00b</string>
	<key>DATABASE_URL</key>
	<string>https://jobify-ec052.firebaseio.com</string>
</dict>
</plist>